.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*common*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/*header*/
.header-style {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-division-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list-style,
.nav-foot-address {
  display: none;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .studio-two {
  color: #2e2f42;
}
.footer-logo .studio-two {
  color: #f4f4fd;
}
.burger-btn {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

.section-one {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-two.jpg);
}

.container {
  max-width: 320px;
  margin: 0 auto;
}
.main-header {
  margin: 0 auto;
  max-width: 160px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.section-button {
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 48px auto 0px auto;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-two-benefits {
  padding: 96px 16px;
}
.section-two-container {
  display: flex;
  flex-direction: column;
}

.section-two-list-style {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 72px;
}
.section-two-list-pic {
  display: none;
}
.section-two-list-header {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-two-item-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-three {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.section-big-header {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-three-list-style {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}
.section-three-list-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.section-three-division {
  padding: 32px 16px;
}
.section-three-list-header {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-three-item-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.social-net-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.social-net-icons {
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four {
  padding: 96px 0;
}

.section-four-list-style {
  display: flex;
  flex-direction: column;
}

.section-four-item-style {
  width: 288px;
  margin-bottom: 48px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.section-four-item-style:last-child {
  margin-bottom: 0;
}

.section-four-explanation {
  display: none;
}

.section-four-division {
  padding: 32px 16px;
}
.section-four-list-header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-four-item-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.footer-text {
  width: 264px;
  margin-bottom: 72px;
}
.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-social-network {
  margin-bottom: 72px;
}
.footer-social-media-paragraph {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-social-item-list-bottom, .social-media-bottom {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.social-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-form-paragraph {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form-form {
  flex-direction: column;
}
.footer-form-label-input {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 16px;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-form-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  margin: 0 auto;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.footer-form-button-svg {
  margin-left: 16px;
  fill: #fff;
}
.after-footer-menu {
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  visibility: visible;
}

.after-footer-submenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px;
  border-radius: 4px;
  width: 320px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.after-footer-submenu-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  stroke-width: 1px;
  background: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.after-footer-submenu-button:hover {
  border: none;
  background-color: #404bbf;
}

.after-footer-submenu-button:focus {
  border: none;
  background-color: #404bbf;
}

.after-footer-submenu-button:hover > svg {
  fill: #ffffff;
}

.after-footer-submenu-button:focus > svg {
  fill: #ffffff;
}

.after-footer-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.after-footer-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.after-footer-form-div {
  margin-bottom: 8px;
}

.after-footer-form-div-four {
  margin-bottom: 16px;
}

.after-footer-form-div-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.after-footer-form-div-div-input  {
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  padding: 8px 16px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.after-footer-form-div-div-input:focus {
  border-color: #4d5ae5;
}
.after-footer-form-div-div-input:focus + svg {
  fill: #4d5ae5;
}
.input-comments {
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.after-footer-form-div-div-textarea:focus {
  border-color: #4d5ae5;
}
.after-footer-form-div-div {
  position: relative;
}
.after-footer-form-div-div-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.after-footer-form-div-checkbox {
  margin-bottom: 24px;
}

.after-footer-form-div-input-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.after-footer-form-div-input-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.after-footer-form-div-button {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.after-footer-form-div-input-span {
  flex-shrink: 0;
  fill: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accepted-checkbox:checked + .after-footer-form-div-input-label .after-footer-form-div-input-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.after-footer-form-div-input-span > svg {
  fill: #fff;
}



/* tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-nav-style {
    display: flex;
    justify-content: center;
  }
  .menu-list-style {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 76px;
  }
  .nav-list-item {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list-item.current {
    position: relative;
  }

  .nav-list-item.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .nav-foot-address {
    display: block;
    font-style: normal;
  }
  .contact-list-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .adress-element {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list-item:hover,
  .nav-list-item:focus,
  .nav-list-item.current,
  .adress-element:hover,
  .adress-element:focus {
    color: #404bbf;
  }

  .section-one {
    padding: 112px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      image-set(
        url(../images/people-office.jpg) x1,
        url(../images/people-office@2x.jpg) x2;);
  }

  .main-header {
    margin: 0 auto;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  .section-two-list-style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    row-gap: 72px;
    column-gap: 24px;
  }
  .list-two-item-style {
    width: calc((100% - 24px) / 2);
  }

  .section-two-list-header {
    text-align: start;
  }

  .section-three-list-style {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }

  .section-four {
    padding: 96px 0 96px 0;
  }
  .section-four-list-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }

  .section-four-item-style {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-four-item-style:last-child {
    margin-bottom: auto;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
  }
  .footer-text {
    margin-right: 24px;
    margin-bottom: 112px;
  }

  .footer-form-label-input {
    width: 264px;
  }
  .footer-form-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-form-paragraph {
    text-align: start;
  }

  .after-footer-menu {
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open {
    visibility: visible;
  }

  .after-footer-submenu {
    width: 408px;
    min-height: 584px;
  }

  .modal-btn-close:hover {
    border: none;
    background-color: #404bbf;
  }
  .modal-btn-close:focus {
    border: none;
    background-color: #404bbf;
  }
  .modal-btn-close:hover > svg {
    fill: #ffffff;
  }
  .modal-btn-close:focus > svg {
    fill: #ffffff;
  }

  .after-footer-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .after-footer-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
  }
  .after-footer-form-div {
    margin-bottom: 8px;
  }

  .after-footer-form-div-four {
    margin-bottom: 16px;
  }
  .after-footer-form-div-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
  }
  .after-footer-form-div-div-input {
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding: 8px 16px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .after-footer-form-div-div-input:focus {
    border-color: #4d5ae5;
  }
  .after-footer-form-div-div-input:focus + svg {
    fill: #4d5ae5;
  }
  .after-footer-form-div-div-textarea {
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .after-footer-form-div-div-textarea:focus {
    border-color: #4d5ae5;
  }
  .after-footer-form-div-div {
    position: relative;
  }
  .after-footer-form-div-div-svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .after-footer-form-div-checkbox {
    margin-bottom: 24px;
  }
  .after-footer-form-div-input-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .after-footer-form-div-input-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }
  .after-footer-form-div-button {
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .after-footer-form-div-input-span {
    fill: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .accepted-checkbox:checked + .after-footer-form-div-input-label .after-footer-form-div-input-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }
  
  .after-footer-form-div-input-span > svg {
    fill: #fff;
  }
}
/* desktop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .header-division-style {
    display: flex;
    align-items: center;
  }
  .header-logo {
    margin-right: 76px;
  }
  .main-header {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.11;
    text-align: center;
    color: #fff;
  }
  .contact-list-style {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .nav-foot-address {
    padding: 12px 0;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress-element {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .section-two-benefits {
    padding: 120px 0;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .section-two-list-style {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .section-two-list-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .section-two-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .list-two-item-style {
    width: calc((100% - 72px) / 4);
  }
  .section-two-item-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .section-button:hover,
  .section-button:focus {
    background-color: #404bbf;
  }
  /* team members and cards*/
  .section-three {
    background-color: #f4f4fd;
    padding: 120px 0;
  }

  .section-three-list-style {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .section-three-list-item {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
  }

  .section-three-division {
    padding: 32px 0px;
  }
  .section-three-list-header {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  
  .section-three-item-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
  }
  .social-net-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .social-net-icons {
    width: 40px;
    height: 40px;
    fill: #f4f4fd;
  }

  .social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }
  /* Portfolio products*/
  .section-four {
    padding: 120px 0 120px 0;
  }
  .portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .section-four-list-style {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .section-four-item-style {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-four-pic-division {
    position: relative;
    overflow: hidden;
  }

  .section-four-explanation {
    display: initial;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-four-image {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .section-four-item-style:hover .section-four-explanation {
    transform: translateY(0%);
  }
  .section-four-item-style:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .section-four-division {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
  }

  .section-four-list-header {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .four-item-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .footer-paragraph {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .footer-text {
    margin-right: 120px;
  }
  .footer-social-network {
    margin-right: 80px;
  }

  .footer-social-media-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }

  .footer-social-item-list-bottom, .social-media-bottom {
    display: flex;
    gap: 16px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .footer-block {
    margin-right: 120px;
  }
  .footer-social-network {
    margin-right: 80px;
  }
  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }

  .page-footer {
    padding: 100px 0;
    background-color: #2e2f42;
  }

  .social-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-item-link:hover,
  .social-item-link:focus {
    background-color: #31d0aa;
  }
  .footer-form-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }
/**Якщо ви читаєте це, значить ви справді глибоко копаєте. ви - молодць!**/
  .footer-form-form {
    display: flex;
    gap: 24px;
  }
  .footer-form-label-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 16px;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
  .footer-form-label-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
  }
  .footer-form-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
  .footer-form-submit-button:hover {
    background: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-form-button-svg {
    margin-left: 16px;
    fill: #fff;
  }
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 10;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  stroke-width: 1px;
  background: #e7e9fc;
  stroke: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-list {
  width: 151px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.mobile-nav-link.current {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-contacts {
  width: 193px;
  height: 72px;
  margin-bottom: 48px;
}

.mobile-contacts-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.mobile-contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.mobile-contacts-link-tel {
  color: #434455;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-social-media {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.mobile-social-net-icons {
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
}
.mobile-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
